{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_jasmine/view


    Example context (json):
    {
    }
}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let apiUrl = "{{server_url}}/api";
    let classId = "{{class_id}}";
    let userId = "{{user_id}}";
    var id = "";

    $(document).ready(function(){
        // initial startup of this page
        $.getJSON(`${apiUrl}/classes?moodle_id=${classId}`, function(result){
            // console.log('first success ', result);
            id = result.id;

            $.getJSON(`${apiUrl}/rooms?class_id=${result.id}`, function(rooms){
                console.log("ROOMS: ",rooms);
                updateRoomList(rooms);
            })
            // seach player id
        }).fail( function(data, textStatus, xhr) {
            if (data.status == 404) {
                console.log('Not found, showing create form');  
                $("#creator").show();
            }
        }).always(function() {
            console.log('Complete');
        });


        // private function

        function updateRoomList(rooms){
            rooms.forEach(room => {
                console.log(room);
                room.players.forEach(p => {
                    if (parseInt(userId) === p.moodleId) {
                         $("#roomList").append(`<a href="#" class="list-group-item list-group-item-action" room-id="${room.id}" onclick="startGame(${room.id})">Room ${room.id} | ${room.players[0].name} VS ${room.players[1].name}</a>`);
                    }
                });
            });
        }

        // function startGame(roomId) {

        // }
    });

    function startGame(roomId) {
        document.getElementById('studentArea').style.display = "none";

        var ifrm = document.createElement('iframe');
        ifrm.setAttribute("src", "{{server_url}}/game?mid={{user_id}}&room=" + roomId);
        ifrm.style.width = "800px";
        ifrm.style.height = "600px";

        document.getElementById('game').appendChild(ifrm);
    }

</script>

<h1>Game Index</h1>
{{#is_student}}
    <div id="studentArea">
        <p>Click Below</p>
        <ul id="roomList" class="list-group">
        </ul>
    </div>
    <div id="game">

    </div>
{{/is_student}}


{{#is_admin}}
<hr/>
<div></div>
<button type="button" class="btn btn-primary" onclick="location.href='{{manage_url}}'">Change Game Setting</button>
<button type="button" class="btn btn-success" onclick="location.href='{{manage_quiz_url}}'">Manage Quiz </button>
{{/is_admin}}